/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 12, 2022, 11:06:28 PM
    Author     : Admin
*/

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: left;
    background-color: dodgerblue;
}
#table{
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 10px;
}
tbody td{
    border-style: none none ridge none;
    border-width: 1px;
}
.head{
    width: 100%;
    margin: 0 auto;
}